<style>
    footer {
        max-width: 100vw;
        display: flex;
        justify-content: space-evenly;
        padding: 20px 30px;
        background-color: #000;
        color:#fff;
    }
</style>

<footer>
    <div>
        <script>document.write(new Date().getFullYear())</script> © Unknown.
    </div>
    <div>
        Design & Develop by Unknown
    </div>
</footer>
